<div class="about">
	<div class="about-section">
		<h1>
			Polymyr is a tech company that connects early adopters and innovative businesses.
		</h1>
	</div>
	<div class="about-section grey-background">
		<h3>
			Polymyr is a marketplace that connects early adopters with hardware companies. After you buy a product, you have the option of providing feedback in return for a reward. Through this system, we are building a community of users that is actively involved in the creation and iteration process of their favorite products.
		</h3>
	</div>
	<div class="about-section">
		<h3>
			Polymyr was originally founded out of Berkeley with the goal of involving regular people in the process of building amazing products. We have experience building and selling products at Alibaba, Uber, Massdrop and Workday, and we are bringing all that experience to make Polymyr something truly special.
		</h3>
	</div>
</div>