<div class="about">
	<div class="title">
		About us
	</div>
	<div class="about-caption">
		Polymyr is a marketplace that connects early adopters with hardware companies. Polymyr was founded out of Berkeley with the goal of involving regular people in the process of building amazing products.
	</div>
</div>