<div class="about">
	<div class="about-section">
		<h3>Our mission</h3>
		<br />
		<h1>
			We want to open a dialog between people and products.
		</h1>
	</div>
	<div class="about-section" id="concert">
		<h3>What we're doing</h3>
		<br />
		<h2>
			We are building a community of people actively involved in the creation and feedback cycle of some of the most innovative products in the world.
		</h2>
	</div>
	<div class="about-section grey-background">
		<h3>The team</h3>
		<br />
		<div class="founder vincent">
			<%= image_tag("vincent.png") %>
			<h4>Vincent Sun</h4>
			<h6>
				Vincent has an eclectic background in design, entrepreneurship, marketplaces, and venture capital. He previously worked on AliResearch at Alibaba Group, Community Expansion at Massdrop, Venture Investment at Seedchange, and the Deal team at Propel Venture Partners. Vincent is currently at UC Berkeley studying Cognitive Science and Computer Science. You can find Vincent cooking steak sous-vide and tinkering with the latest tech gadgets.
			</h6>
		</div>
		<div class="founder michael">
			<%= image_tag("michael.png") %>
			<h4>Michael Deng</h4>
			<h6>
				Before Polymyr, Michael has worked as a software engineer for Uber's fraud team and Workday's fintech team. He was also a member of a data research team at UC Berkeley. He has a keen interest in impactful consumer tech and has worked on many projects of his own. Currently, Michael is completing his Electrical Engineering and Computer Science degree at UC Berkeley. Outside of work, Michael enjoys playing volleyball and adventuring outdoors.
			</h6>
		</div>
	</div>
	<div class="about-section">
		<h3>Our story</h3>
		<br />
		<h3>
			Polymyr was founded in Berkeley in April 2016. The original problem was that it's very hard for emerging companies to get helpful feedback on their products. We decided that this problem was worth working on and we started designing and building right away. The platform you see today has come a long way since then, but we have much greater plans for the future. We hope you stay along for the ride!
		</h3>
	</div>
</div>