<div class="about">
	<div class="about-section concert-background">
		<h1>
			Polymyr is a tech company that connects early adopters and innovative businesses.
		</h1>
	</div>
	<div class="about-section" id="concert">
		<h2>
			We are building a community of people that is actively involved in the creation and iteration process of some of the most innovative products in the world.
		</h2>
	</div>
	<div class="about-section">
		<h3>
			Polymyr was originally founded out of Berkeley with the goal of involving regular people in the process of building amazing products. We have experience building and selling products at Alibaba, Uber, Massdrop and Workday, and we are bringing everything we've learned with us to make Polymyr something truly special.
		</h3>
	</div>
</div>