<div class="banner">
	<div class="prelaunch-heading">We give you access to incredible products</div>
	<div class="prelaunch-form-wrapper">

		<%= simple_form_for @prospect, html: { autocomplete: "off" } do |f| %>

			<div class="form-inputs">
				<%= f.input :name, label: false, placeholder: "Name" %>
				<%= f.input :email, label: false, placeholder: "Email" %>
			</div>

			<div class="form-actions">
		    <%= f.button :submit, "Get on our invite list" %>
		  </div>
		<% end %>
	</div>
	<div class="emailing-list">
	</div>
</div>
<div class="dark-mask">
</div>
<div class="prelaunch-info">
	<div class="prelaunch-subheading">How it works</div>
	<div class="prelaunch-text">
		Polymyr is a feedback-driven marketplace for new and innovative products.After purchasing a product, we encourage you to provide honest feedback on the product. After submitting your review, you will receive a monetary reward. We want to change how companies improve their products, and we want you to be part of that process. If you're interested, enter your email above and we'll let you know when we launch!
	</div>
</div>