<div class="banner">
	<div class="prelaunch-heading">First access to incredible hardware products</div>
	<div class="prelaunch-caption">Enter your email and get on our invite list</div>
	<div class="prelaunch-form-wrapper">

		<%= simple_form_for @prospect, html: { autocomplete: "off" } do |f| %>

			<div class="form-inputs">
				<%= f.input :email, label: false, placeholder: "Email" %>
			</div>

			<div class="form-actions">
		    <%= f.button :submit, "Get your invite now" %>
		  </div>
		<% end %>
	</div>
	<div class="emailing-list">
	</div>
</div>
<div class="dark-mask">
</div>
<div class="prelaunch-info">
	<div class="prelaunch-subheading">What is Polymyr?</div>
	<div class="prelaunch-text">
		Polymyr is a feedback-driven marketplace for innovative products where you can get the newest products before anyone else. What's more, you also get rewarded if you provide quality product feedback. We deliver to you awesome products and to companies real advice from real users. Enter your email above and we'll let you know when we launch!
	</div>
</div>