<div class="container">

	<div class="caption">You're now on our invite list! In the meantime...</div>
	<div class="small-title">Invite your friends and earn rewards</div>
	<div class="small-caption">Share your link and earn rewards for every friend who signs up</div>
	<div class="centered">
		<span class="referral-code">https://www.polymyr.com/?ref=<%= @prospect.referral_code %></span>
	</div>
</div>