// Place all the styles related to the charges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.payment-form-wrapper {
	width: 200px;
	margin: auto;
}

.payment-form-wrapper label {
	display: block;
}

.payment-form-wrapper div {
	margin-bottom: 5px;
}

.payment-errors {
	display: block;
}

.payment-form-wrapper input {
	width: 100%;
}

.payment-form-wrapper .short-input {
	width: 40%;
}

.right-field {
	padding-left: 20px;
}
