.footer {
	padding: 3em 1.5em 3em 1.5em;
	color: #909090;
	font-size: 0.8em;
	background-color: #f8fafc;
}

.footer a {
	color: #909090;
}

.footer-links {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	margin-bottom: 1em;
	font-size: 1.1em;
}

.footer-links li {
	margin: 0 5px 0 5px;
	display: inline;
}

.footer-contact {
	text-align: center;
	margin-bottom: 0.5em;
}

.footer-contact a {
	color: #A0A0A0 !important;
}

.footer-bottom {
	color: #A0A0A0;
	text-align: center;
}