form {
	line-height: 1.2;
}

.form-wrapper div {
	margin-bottom:10px;
}

.form-actions .btn {
	background-color: #2274A5;
	color: white;
}

.signup-submit {
	margin-top:10px;
}

.form-wrapper {
	width: 600px;
	max-width: 100%;
	background: white;
	margin: auto;
	padding: 25px 25px 25px 25px;
  border: 1px solid #E0E0E0;
  border-radius: 10px;
}

.form-wrapper hr {
	margin-top: 15px;
	margin-bottom: 20px;
}

.form-wrapper a {
	color: #2274A5;
}

.form-wrapper label {
	display: block;
}

.form-wrapper input {
	width: 300px;
}

.form-wrapper .checkbox input {
	margin-right: 5px;
	width: 15px;
}

.form-wrapper .hint {
	margin-top: 2px;
	display: block;
	font-size: 0.8em;
	color: #707070;
}

.form-wrapper .btn {
	margin-bottom: 10px;
}

.form-wrapper .error {
	display: inline-block;
	margin-left: 8px;
	color: #D63230;
}

.modal .form-wrapper {
	width: auto;
	border: none;
	border-radius: none;
}

.modal .form-wrapper .btn {
	margin-bottom: -10px;
}