html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	color: #505050;
}

.container {
	margin: 0;
	padding: 2em 1em 1em 1em;
	// background-color: #F7F7F7;
}

.title {
	font-size: 2.4em;
	text-align: center;
}

hr {
  border: 0;
  border-top: 2px solid #E0E0E0;
}

@media screen and (min-width: 768px) {
  .container {
  	padding-left: 5em;
  	padding-right: 5em;
  }
}

a {
	color: #505050;
	text-decoration: none;
}

a:link, a:visited, a:hover, a:active {
	color: #505050;
	text-decoration: none;
}

.modal .modal-content {
	box-shadow: none;
	border: none;
}

.modal .modal-title {
	color: #0094D8;
	text-align: center;
	font-weight: 600;
	padding-top: 20px;
}

@media screen and (min-width: 768px) {
	.modal .modal-dialog {
		margin-top: 60px;
	}
}

.modal .modal-dialog {
	width: 360px;
}

.modal .small {
	margin-top: 10px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (min-width: 768px) {
	.modal .small {
		margin-top: 20px;
	}
}

.close {
	color: white;
	margin-right: -25px;
	margin-top: -35px;
	opacity: 1;
}

.close:hover {
	color: white;
	opacity: 1;
}

.alert {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 30px;
	opacity: 0.8;
	text-align: center;
}

.alert ul {
	list-style: none;
	line-height: 0;
}

.alert-notice, .alert-success {
	background: #20BF55;
	color: white;
}

.alert-alert, .alert-error {
	background: #D63230;
	color: white;
}

.error {
	color: red;
	margin-top: 5px;
}

.footer-content {
	padding: 10px 30px 30px 30px;
	font-size: 0.9em;
}

.footer-content .row {
	margin-bottom: 0.5em;
}

.footer-content .row .col-4 {
	padding: 0.5em 1.5em 0.5em 1.5em;
}

.footer-content .row .col-4 ul {
	list-style-type: none;
	padding: 0;
	margin-top: 0;
	float: left;
	width: 120px;
}

.footer-content ul li {
	font-size: 0.8em;
}

.footer-bottom {
	clear: both;
	color: #A0A0A0;
	font-size: 0.8em;
	margin-left: 1.5em;
}

@media screen and (min-width: 768px) {
  .footer-content {
  	padding: 20px 50px 50px 50px;
  }
	.footer-content .row .col-4 ul {
		float: right;
	}
}

