html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	color: #505050;
}

.container {
	margin: 0;
	padding: 40px 0 20px 0;
	overflow: auto;
}

.container-narrow {
	padding: 10px 15px 10px 15px;
	overflow: auto;
}

.grey-background {
	background: #F0F0F0;
}

.blue-background {
	background: #0094D8;
}

@media screen and (min-width: 768px) {
	.container {
		padding: 60px 0 50px 0px;
	}
	.container-narrow {
		padding: 30px 60px 30px 60px;
	}
}

.title {
	font-size: 2.8em;
	margin-bottom: 0.8em;
	text-align: center;
}

hr {
  border: 0;
  border-top: 1px solid #D0D0D0;
  margin: 10px 0 10px 0;
}

a {
	color: #505050;
	text-decoration: none;
}

a:link, a:visited, a:hover, a:active {
	color: #505050;
	text-decoration: none;
}

a:focus {
	outline: none;
}

ul {
	margin: 0;
	padding: 0;
}

button:focus {
	outline: none;
}

.modal .modal-content {
	box-shadow: none;
	border: none;
	padding: 20px 25px 20px 25px;
}

.modal .modal-title {
	color: #0094D8;
	text-align: center;
	font-weight: 600;
}

.modal .modal-dialog {
	width: 300px;
	margin: 35px auto;
}

@media screen and (min-width: 768px) {
	.modal .modal-dialog {
		width: 360px;
		margin-top: 60px;
	}
}

// .modal .small {
// 	margin-top: 10px;
// 	max-width: 100%;
// 	margin-left: auto;
// 	margin-right: auto;
// }

// @media screen and (min-width: 768px) {
// 	.modal .small {
// 		margin-top: 20px;
// 	}
// }

.close {
	color: white;
	margin-right: -48px;
	margin-top: -53px;
	opacity: 1;
	font-size: 40px;
}

.close:hover {
	color: white;
	opacity: 1;
}

.alert {
	width: 100%;
	position: fixed;
	opacity: 0.9;
	padding: 3px;
	text-align: center;
	z-index: 10;
}

.alert-notice, .alert-success {
	background: #20BF55;
	color: white;
}

.alert-alert, .alert-error {
	background: #D63230;
	color: white;
}

.error {
	color: red;
	margin-top: 5px;
}

.footer-content {
	padding: 1.5em;
	color: #909090;
	font-size: 0.8em;
}

.footer-content a {
	color: #909090;
}

.footer-links {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	margin-bottom: 1em;
}

.footer-links li {
	margin: 0 5px 0 5px;
	display: inline;
}

.footer-contact {
	text-align: center;
	margin-bottom: 1em;
}

.footer-bottom {
	color: #A0A0A0;
	text-align: center;
}

.about-section {
	padding: 2em;
}

@media screen and (min-width: 768px) {
	.about-section {
		padding: 8em 12em 8em 12em;
	}
}
