.nav {
	width: 100%;
	margin: 0;
	padding: 0 15px 0 15px;
	height: 40px;
	background: transparent;
	z-index: 1;
}

.nav-fixed {
	position: fixed;
}

.nav-top {
	position: absolute;
}

.prelaunch-nav {
	width: 100%;
	margin: 0;
	padding: 0 15px 0 15px;
	height: 45px;
	z-index: 1;
	position: absolute;
}

.prelaunch-nav a {
	color: white;
}

.prelaunch-menu {
	margin: 0;
  overflow: hidden;
  list-style-type: none;
  padding: 0;
  float: right;
}

.prelaunch-menu li {
	float: left;
	margin-left: 20px;
  padding-top: 15px;
  font-size: 1.2em;
}

.logo {
	float: left;
	margin-top: 3px;
	height: 35px;
}

.logo a {
	font-size: 2em;
	font-weight: 600;
	font-family: 'Linotte', 'Open Sans', sans-serif;
}

ul.menu {
  margin: 0;
  overflow: hidden;
  list-style-type: none;
  padding: 0;
  float: right;
}

ul.menu li {
	float: left;
	margin-left: 20px;
  margin-top: 10px;
}

ul.menu li a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.1em;
}

@media screen and (min-width: 768px) {
	.nav, .prelaunch-nav {
		height: 60px;
		padding: 0 60px 0 60px;
	}
	.logo {
		margin-top: 7px;
	}
	ul.menu li {
		margin-top: 18px;
	}
}

@media (min-width: 1170px) {
  .nav, .prelaunch-nav {
		height: 64px;
		padding: 0 60px 0 60px;
	}
}
