.maker-signin-form {
	padding-bottom: 5em;
}

.dashboard-links {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.dash-heading {
	text-align: center;
	font-size: 1.4em;
	margin-top: 1em;
	margin-bottom: 0.5em;
}

.dash-product {
	width: 30em;
	max-width: 100%;
	margin: auto;
	text-align: left;
	border-top: 1px solid #E0E0E0;
	padding: 0.5em 0 0.5em 0;
}

.dash-product:first-child {
	border-top: none;
}

.dash-product a {
	display: block;
}

.dash-product a img {
	height: 36px;
	width: 48px;
	border-radius: 5px;
	margin-right: 5px;
}

@media screen and (min-width: 768px) {
	.dash-product a img {
		height: 45px;
		width: 60px;
	}
}

.dash-button {
	float: right;
	margin-top: 9px;
}

.green {
	color: #20BF55;
}

.orange {
	color: #F6511D;
}

.red {
	color: #D90429;
}

.grey {
	color: #707070;
}

.payment-title {
	font-size: 2.5em;
	margin: 0.8em 0 0.8em 0;
	text-align: center;
}

.stripe-connect-button {
	display: block;
	margin: 1.6em auto 3.6em auto;
	color: white !important;
	background: #0094D8;
	text-align: center;
	width: 18em;
	max-width: 100%;
	font-size: 1.5em;
	padding: 0.5em;
	border-radius: 5px;
}

.stripe-connect-two-buttons {
	width: 45em;
	max-width: 100%;
	margin: auto;
	overflow: auto;
}

.stripe-connect-left-button, .stripe-connect-right-button {
	display: block;
	width: 48%;
	margin-top: 1.5em;
	color: white !important;
	background: #0094D8;
	text-align: center;
	font-size: 1.2em;
	padding: 0.8em 0.3em 0.8em 0.3em;
	border-radius: 5px;
}

.stripe-connect-left-button {
	float: left;
}

.stripe-connect-right-button {
	float: right;
}