.nav {
	width: 100%;
	margin: 0;
	padding: 0 15px 0 15px;
	height: 50px;
	background: white;
	position: fixed;
	border: 1px solid white;
	z-index: 1;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

@media screen and (min-width: 768px) {
	.nav {
		height: 60px;
		padding: 0 60px 0 60px;
	}
}

.nav .logo {
	float: left;
	margin-top: 5px;
	height: 35px;
}

.nav .logo a {
	font-size: 2em;
	font-weight: 600;
	color: #303030;
}

ul.menu {
  margin: 0 -10px 0 -10px;
  overflow: hidden;
  list-style-type: none;
  padding: 0;
  float: right;
}

@media screen and (min-width: 768px) {
	ul.menu {
		margin: 0;
	}
}

ul.menu li {
	float: left;
	display: none;
	margin-left: 20px;
  padding-top: 15px;
}

ul.menu li a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 1.1em;
}

.icon {
	position: absolute;
	display: inline-block;
  right: 15px;
  top: 9px;
  font-size: 1.4em;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
	.icon {
		right: 80px;
	}
}

ul.menu.responsive {
	position: absolute;
	margin-top: 58px;
	width: 100%;
	background: white;
	border-bottom: 1px solid #E8E8E8;
}

ul.menu.responsive li {
  float: none;
  display: inline;
}
ul.menu.responsive li a {
  display: block;
  text-align: center;
}

@media screen and (min-width: 768px) {
	ul.menu li {
		display: list-item;
	}
	.icon {
		display: none;
	}
}