.product-listings {
	list-style-type: none;
	padding: 0;
	text-align: center;
}

.product .row .overview {
	padding-top: 10px;
}

@media screen and (min-width: 768px) {
	.product .thumbnails {
		display: block;
	}
	.carousel-indicators {
		display: none;
	}
	.product .row .overview {
		padding-top: 0;
		padding-left: 20px;
	}
}

.thumbnails {
	display: none;
	margin: 0;
	line-height: 0;
	list-style-type: none;
}

.thumbnails li {
	padding: 0;
	margin: 0px 10px 10px 10px;
}

.thumbnails li img {
	border-radius: 5px;
	opacity: 0.4;
	cursor: pointer;
}

.thumbnails li .selected {
	opacity: 1;
}

.carousel .item img {
	border-radius: 5px;
	margin: auto;
}

.carousel .carousel-indicators li {
	margin: 0 9px 0 9px;
	width: 14px;
	height: 14px;
}

.overview ul li {
	color: #707070;
	font-size: 0.9em;
}

.product-show-name {
	font-family: 'Montserrat', sans-serif;
}

.product-price-reg {
	font-size: 0.9em;
}

.overview .payment-btn {
	padding: 5px 10px 5px 10px;
	font-size: 1.5em;
	background-color: #0094D8;
	color: white;
	border-radius: 5px;
	text-decoration: none;
}

.payment-btn:hover {
	color: white;
	text-decoration: none;
}

.product-card {
	background: white;
	display: inline-block;
	text-align: center;
	margin: 5px;
	border-radius: 15px;
	border: 1px solid #E8E8E8;
}

.product-card img {
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	width: 160px;
	height: 120px;
}

@media screen and (min-width: 768px) {
  .product-card {
		margin: 20px;
		width: 267px;
		height: 320px;
	}
	.product-card img {
		width: 267px;
		height: 200px;
	}
}

.product-card-info {
	padding: 8px;
	height: 120px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	position: relative;
}

.product-card-name {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 0.9em;
}

.product-card-company {
	font-size: 0.7em;
	margin-bottom: 7px;
}

.product-card-des {
	font-size: 0.7em;
}

.product-card-price {
	position: absolute;
	bottom: 7px;
	left: 10px;
	font-size: 0.9em;
}

/* Bootstrap carousel fade */
@media screen and (min-width: 768px) {
	.carousel-fade {
	  .carousel-inner {
      .item {
        transition-property: opacity;
      }
      .item, .active.left, .active.right {
        opacity: 0;
      }
      .active, .next.left, .prev.right {
        opacity: 1;
      }
      .next, .prev, .active.left, .active.right {
        left: 0;
        transform: translate3d(0, 0, 0);
      }
    }
	}
}

/* Creating product */

.product-progress {
	list-style-type: none;
	text-align: center;
	margin: 0 auto;
	padding: 0;
	width: 320px;
	border-radius: 15px;
	font-size: 1.1em;
}

.product-progress li {
	display: inline-block;
}

.product-progress li a {
	color: #A0A0A0;
	display: block;
	padding: 3px 12px 3px 12px;
}

.product-progress li i {
	color: #A0A0A0;
}

.product-progress li .progress-selected {
	color: #0094D8;
}

.dropzone {
	height: 280px;
	width: 640px;
	margin: 20px auto;
	padding: 0;
	color: #A0A0A0;
	border-color: #C0C0C0;
}

.dropzone .dz-message {
	margin: 80px auto;
	width: 640px;
	position: absolute;
	font-size: 1.2em;
}

// .image-upload {
// 	padding: 0;
// 	list-style-type: none;
// 	text-align: center;
// 	position: absolute;
// 	left: 0;
// 	right: 0;
// }

// .image-upload li {
// 	display: inline-block;
// 	margin-left: 7px;
// 	margin-right: 7px;
// }

// .image-upload .file input {
// 	opacity: 0;
// }

// .image-upload label {
// 	display: none;
// }

// .file input {
// 	border: 1px solid #A0A0A0;
// 	height: 150px;
// 	width: 200px;
// 	border-radius: 10px;
// 	cursor: pointer;
// 	position: relative;
// }

// .image-button {
// 	height: 150px;
// 	width: 200px;
// 	margin-top: -160px;
// 	padding-top: 36px;
// 	text-align: center;
// 	color: #C0C0C0;
// 	border: 1px solid #C0C0C0;
// 	border-radius: 10px;
// 	background-repeat: no-repeat;
//   background-position: center center;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
// }

// .image-button .fa-times {
// 	margin-top: -45px;
// 	margin-left: 86px;
// 	position: absolute;
// 	color: red;
// 	display: none;
// 	cursor: pointer;
// }

// .image-button-text {
// 	position: absolute;
// 	width: 200px;
// 	text-align: center;
// 	margin-top: -115px;
// 	z-index: -1;
// 	color: #C0C0C0;
// }
