.product-listings {
	list-style-type: none;
	padding: 0;
	text-align: center;
}

.product .row .overview {
	padding-top: 10px;
}

@media screen and (min-width: 768px) {
	.product .thumbnails {
		display: block;
	}
	.carousel-indicators {
		display: none;
	}
	.product .row .overview {
		padding-top: 0;
	}
}

@media screen and (min-width: 992px) {
	.product {
		padding: 0.8em 3em 0 3em;
	}
}

@media screen and (min-width: 1200px) {
	.product {
		padding: 0.8em 8em 0 8em;
	}
	.product .col-2 {
		width: 8.33%;
	}
	.product .col-3 {
		width: 33.33%;
		padding-left: 2em;
	}
}

.thumbnails {
	display: none;
	margin: 0;
	padding: 0;
	line-height: 0;
	list-style-type: none;
}

.thumbnails li {
	padding: 0;
	margin: 0px 10px 10px 10px;
}

.thumbnails li img {
	border-radius: 5px;
	opacity: 0.4;
	cursor: pointer;
}

.thumbnails li .selected {
	opacity: 1;
}

.carousel .item img {
	border-radius: 5px;
	margin: auto;
	width: 100%;
}

@media screen and (min-width: 768px) {
	.carousel .item img {
		width: auto;
	}
}

.carousel .carousel-indicators li {
	margin: 0 9px 0 9px;
	width: 14px;
	height: 14px;
}

.product-show-name {
	font-size: 1.8em;
}

.product-show-maker {
	font-size: 1.1em;
	margin-bottom: 0.8em;
}

.product-show-desc {
	font-size: 1.1em;
	margin-bottom: 0.8em;
}

.product-show-price {
	font-size: 1.1em;
}

.product-show-price-reg {
	font-size: 0.9em;
}

.overview ul li {
	color: #707070;
	font-size: 0.9em;
}

@media (min-width: 768px) and (max-width: 991px) {
	.product-show-name {
		font-size: 1.4em;
	}
	.product-show-maker {
		font-size: 1em;
	}
	.product-show-desc {
		font-size: 1em;
	}
	.product-show-price {
		font-size: 1em;
	}
	.product-show-price-reg {
		font-size: 0.8em;
	}
	.overview ul li {
		color: #707070;
		font-size: 0.8em;
	}
}

.overview .payment-btn {
	padding: 5px 10px 5px 10px;
	font-size: 1.5em;
	background-color: #0094D8;
	color: white;
	border-radius: 5px;
	text-decoration: none;
}

.payment-btn:hover {
	color: white;
	text-decoration: none;
}

.product-card {
	background: white;
	display: inline-block;
	text-align: center;
	margin: 5px;
	border-radius: 15px;
	border: 1px solid #E8E8E8;
}

.product-card img {
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	width: 160px;
	height: 120px;
}

@media screen and (min-width: 768px) {
  .product-card {
		margin: 20px;
		width: 267px;
		height: 320px;
	}
	.product-card img {
		width: 267px;
		height: 200px;
	}
}

.product-card-info {
	padding: 8px;
	height: 120px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	position: relative;
}

.product-card-name {
	font-weight: 600;
	font-size: 1em;
}

.product-card-company {
	font-size: 0.8em;
	margin-bottom: 5px;
}

.product-card-desc {
	font-size: 0.7em;
}

.product-card-price {
	position: absolute;
	bottom: 8px;
	left: 10px;
	font-size: 0.9em;
}

.dash {
	height: 250px;
}

.dash .product-card-info {
	height: 50px;
}

/* Bootstrap carousel fade */
@media screen and (min-width: 768px) {
	.carousel-fade {
	  .carousel-inner {
      .item {
        transition-property: opacity;
      }
      .item, .active.left, .active.right {
        opacity: 0;
      }
      .active, .next.left, .prev.right {
        opacity: 1;
      }
      .next, .prev, .active.left, .active.right {
        left: 0;
        transform: translate3d(0, 0, 0);
      }
    }
	}
}

/* Creating product */

.start-caption {
	margin-top: 2em;
	text-align: center;
}

.start-caption span {
	color: #707070;
	font-size: 1.5em;
}

.start-caption input {
	font-size: 1.5em;
	height: 2em;
}

.product-build-heading {
	width: 28em;
	font-size: 2em;
	text-align: center;
	margin: 10px auto;
	color: #0094D8;
	max-width: 100%;
}

.product-build-subheading {
	font-size: 1.6em;
	text-align: center;
	margin-top: 20px;
	color: #0094D8;
}

.product-preview-caption {
	text-align: center;
	margin: 30px auto 20px auto;
	width: 24em;
}

.product-preview-separator {
	margin-left: -1em;
	margin-right: -1em;
}

@media screen and (min-width: 768px) {
	.product-preview-separator {
		margin-left: -5em;
		margin-right: -5em;
	}
}

#product-submit {
	color: white;
	background: #0094D8;
	font-size: 1.6em;
	height: 2.5em;
}

.product-progress {
	list-style-type: none;
	text-align: center;
	margin: 0 auto 30px auto;
	padding: 0;
	width: 360px;
	border-radius: 15px;
	font-size: 1.1em;
}

.product-progress li {
	display: inline-block;
}

.product-progress li a {
	color: #A0A0A0;
	display: block;
	padding: 3px 12px 3px 12px;
}

.product-progress li i {
	color: #A0A0A0;
}

.product-progress li .progress-selected {
	color: #0094D8;
}

.dropzone {
	height: 330px;
	width: 564px;
	padding: 0;
	margin: 40px auto 20px auto;
	color: #A0A0A0;
	border-color: #C0C0C0;
	font-size: 1.2em;
}

.dropzone .dz-message {
	margin-top: 100px;
	width: 564px;
	position: absolute;
}

.dropzone .dz-preview {
	margin: 10px 10px 10px 10px;
}

.dropzone .dz-remove {
	margin-top: 5px;
}
