// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.previous-step {
	color: #0094D8;
}

.previous-step a {
	color: #0094D8;
}

.previous-step i {
	margin-right: 5px;
}

.review-listings {
	list-style-type: none;
	padding: 0 10em 0 10em;
}

.review-card-info {
	border: 1px solid #E8E8E8;
	height: 2.5em;
	padding: 0.5em 0 0.5em 0;
	background-color: #E8E8E8;
	font-size: 1.4em;
	border-radius: 5px;
}