// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.previous-step {
	color: #0094D8;
}

.previous-step a {
	color: #0094D8;
}

.previous-step i {
	margin-right: 5px;
}

.reviews-table {
	margin: auto;
	width: 90%;
	max-width: 100%;
}

@media screen and (min-width: 768px) {
	.reviews-table {
		width: 30em;
	}
}

tr {
	height: 32px;
  border-top: 1px solid #E0E0E0;
}

tr:first-child {
  border-top: none;
}