.search-form {
	text-align: center;
	margin-top: -16px;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
}

.search-form #search-bar:focus {
  outline: none;
  border-color: #707070;
}

.search-form #search-bar {
	border: 1px solid #B8B8B8;
	height: 36px;
	width: 200px;
	margin-top: 11px;
	float: left;
	border-radius: 10px;
	margin-right: -80px;
	padding: 0 32px 0 8px;
}

.search-form #search-btn {
	background: none;
	color: #B8B8B8;
	border: none;
	height: 36px;
	width: 36px;
	font-size: 1.1em;
	margin-top: 11px;
	float: right;
}

#search-btn:focus {
	outline: none;
}