// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: 'Alegreya Sans', sans-serif;
}

.logo {
	font-weight: bold;
}

.container {
	margin: 0;
	padding: 2em 1em 0 1em;
	background-color: #F8F8F8;
	min-height: calc(100% - 60px);
}

@media screen and (min-width: 768px) {
  /* For desktop: */
  .container {
  	padding-left: 5em;
  	padding-right: 5em;
  }
}

ul {
	list-style-type: none;
	padding: 0;
}