<div class="container">
	<div class="payment-title">Payments</div>
	<div class="small-subtitle">
		Get paid quickly and securely with Stripe. Please connect or create your Stripe account to get started.
	</div>
	<a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_8yNBdkjqvSFZzdWpfiqzr0YyQBAPXqiL&scope=read_write" id="stripe-connect-button">Connect to Stripe</a>
</div>