<div class="container-narrow">
	<div class="title">Payments</div>
	<div class="small-subtitle">
		We handle all payments through Stripe, please connect your Stripe account to get started.
	</div>
	<%= link_to "Connect to Stripe", '#', class: "button" %>
</div>