<li class="product-card dash">
	<%= link_to dash_path(dash_product) do %>
		<% if dash_product.uploads.length == 0 %>
			<%= image_tag("image_not_found.png") %>
		<% else %>
			<%= image_tag dash_product.uploads[0].image.url(:medium) %>
		<% end %>
		<div class="product-card-info">
			<div class="product-card-name"><%= dash_product.name %></div>
		</div>
	<% end %>
</li>