<li class="product-card">
	<%= link_to product do %>
		<% if product.uploads.length == 0 %>
			<%= image_tag("image_not_found.png") %>
		<% else %>
			<%= image_tag product.uploads[0].image.url(:medium) %>
		<% end %>
		<div class="product-card-info">
			<div class="product-card-name"><%= product.name %></div>
		</div>
	<% end %>
</li>