<div class="container">

	<div class="subtitle">
		We will help you launch, market and improve your products
	</div>

	<div class="form-wrapper product-form">

		<%= simple_form_for @product, html: { autocomplete: "off" } do |f| %>

			<div class="form-inputs start-caption">
				<span>What are you making?</span>
				<%= f.input :name, label: false, required: true, placeholder: "Name" %>
			</div>

			<div class="form-actions">
		    <%= f.button :submit, "Start now" %>
		  </div>
		<% end %>
	</div>

	<ul class="product-instructions">
		<li>
			<i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
			<br />
			Tell us basic info about your product and upload relevant images/videos
		</li>
		<li>
			<i class="fa fa-question-circle fa-2x" aria-hidden="true"></i>
			<br />
			Compose review questions you'd like your users to answer
		</li>
		<li>
			<i class="fa fa-rocket fa-2x" aria-hidden="true"></i>
			<br />
			Submit your product for approval and launch to our community
		</li>
		<li>
			<i class="fa fa-comments-o fa-2x" aria-hidden="true"></i>
			<br />
			Gain valuable feedback from your users and iterate on your product
		</li>
	</ul>
</div>