<div class="product-build-heading">
	Polymyr will help you grow whatever you're making into something beautiful.
</div>

<div class="form-wrapper product-form">

	<%= simple_form_for @product do |f| %>

		<div class="form-inputs start-caption">
			<span>My new product is called:</span>
			<%= f.input :name, label: false, required: true, placeholder: "name" %>
		</div>

		<div class="form-actions">
	    <%= f.button :submit, "Start" %>
	  </div>
	<% end %>

	<ol class="product-instructions">
		<li>Tell us basic info about your product</li>
		<li>Choose review questions you'd like your users to answer</li>
		<li>Submit your product for approval</li>
		<li>Sell your product and get valuable feedback</li>
	</ol>
</div>