<div class="form-wrapper product-form">
	
	<h2>Launch your product</h2>

	<br />

	<%= simple_form_for @product do |f| %>

		<div class="form-inputs">
			<%= f.input :name, label: "Product name" %>
		</div>

		<div class="form-actions">
	    <%= f.button :submit, "Start" %>
	  </div>
	<% end %>
</div>