<div class="modal fade" id="payment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog small" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Pay now</h4>
      </div>
      <div class="modal-body">
        
        <div class="payment-form-wrapper">

          <%= form_tag charges_path, id: 'payment-form' do %>
            <span class="payment-errors"></span>

            <% if current_user.name.present? || !current_user.address.present? ||
                  !current_user.city.present? || !current_user.zip.present? %>
              <!-- <div class="row">
                <div class="col-12">
                  <label>Full name:</label>
                  <input type="text" name="name">
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <label>Address:</label>
                  <input type="text" name="address">
                </div>
              </div>

              <div class="row">
                <div class="nocollapse-col-6">
                  <label>City:</label>
                  <input type="text" name="city">
                </div>
                <div class="nocollapse-col-6 right-field">
                  <label>ZIP:</label>
                  <input type="text" name="zip">
                </div>
              </div>

              <hr> -->
            <% end %>

            <div class="row">
              <div class="col-12">
                <label>Card number:</label>
                <input type="text" data-stripe="number">
              </div>
            </div>

            <div class="row">
              <div class="nocollapse-col-6">
                <label>Expiration:</label>
                <input type="text" class="short-input" placeholder="MM" data-stripe="exp_month">
                <input type="text" class="short-input" placeholder="YY" data-stripe="exp_year">
              </div>
              <div class="nocollapse-col-6 right-field">
                <label>Security:</label>
                <input type="text" placeholder="CVC" data-stripe="cvc">
              </div>
            </div>


            <!-- <input type="hidden" name="product_id" value="<%= @product.id %>" readonly> -->

            <div class="form-actions">
              <input type="submit" class="submit" value="Submit Payment">
            </div>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>