<hr>

<div class="footer-content">
	
	<div class="row">

		<div class="col-4">
			<div class="footer-info">
				Polymyr is dedicated to nurturing amazing products through its community of early adopters who provide highly valuable and specialized feedback.
			</div>
		</div>

		<div class="col-4">
			<div class="footer-feedback">
				Staying true to the spirit of our product, we encourage you to give us candid feedback. We promise we'll reply to every message.
			</div>
		</div>

		<div class="col-4">
			<ul>
				<b>About us</b>
				<li>Who we are</li>
				<li><a href="http://www.polymyr.com/blog">Blog</a></li>
				<li>Jobs</li>
			</ul>
			<ul>
				<b>Support</b>
				<li>How it works</li>
				<li>Pricing</li>
				<li>Contact</li>
			</ul>
		</div>
	</div>	

	<div class="footer-bottom">
		<i>Copyright &#169 2016 Polymyr. Made in San Francisco.</i>
	</div>
</div>