<hr>

<div class="footer-content">
	
	<div class="footer-left">
		Polymyr is dedicated to nurturing amazing products through its community of early adopters who provide highly valuable and specialized feedback.
	</div>

	<div class="footer-right">
		<div class="footer-menu">
			<b>About us</b>
			<ul>
				<li>Who we are</li>
				<li><a href="http://www.polymyr.com/blog">Blog</a></li>
				<li>How it works</li>
				<li>Pricing</li>
				<li>Contact</li>
			</ul>
		</div>
	</div>

	<div class="footer-bottom">
		<i>Copyright &#169 2016 Polymyr</i>
		<br />
		<i>Made in San Francisco</i>
</div>