<hr>

<div class="footer-content">
	
	<div class="row">

		<div class="col-4">
			Polymyr is dedicated to nurturing amazing products through its community of early adopters who provide highly valuable and specialized feedback.
		</div>

		<div class="col-4">
			Staying true to the spirit of our product, we'd like to give you a chance to provide feedback on Polymyr. We promise we'll reply to every single message.
		</div>

		<div class="col-4">
			<ul>
				<b>About us</b>
				<li>Who we are</li>
				<li><a href="http://www.polymyr.com/blog">Blog</a></li>
				<li>Jobs</li>
			</ul>
			<ul>
				<b>Support</b>
				<li>How it works</li>
				<li>Pricing</li>
				<li>Contact</li>
			</ul>
		</div>
	</div>	

	<div class="footer-bottom">
		<i>Copyright &#169 2016 Polymyr. Made in San Francisco.</i>
</div>