<nav class="nav">
	
	<ul class="menu">
		<li><a href="#">Home</a></li>
		<li><a href="#">About</a></li>
		<li><a href="#">Portfolio</a></li>
		<li><a href="#">News</a></li>
		<li><a href="#">Contact</a></li>
		<li class="icon"><a href="#"><i class="fa fa-bars fa-lg"></i></a></li>
	</ul>
	<!-- <label for="show-menu" class="show-menu">Show Menu</label>
	<input type="checkbox" id="show-menu" role="button"> -->
</nav>