<nav class="nav">
	<div class="logo"><a href=<%= maker_root_path %>>POLYMYR</a></div>
	<ul class="menu">
		<li><%= link_to "Launch Product", new_product_path %></li>
		<li><%= link_to "Dashboard", current_maker %></li>
	</ul>
</nav>