<nav class="prelaunch-nav">
	<div class="logo"><a href=<%= unauthenticated_root_path %>>POLYMYR</a></div>
	<ul class="prelaunch-menu">
		<li><%= link_to "List your product", new_maker_session_path %></li>
	</ul>
</nav>